<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840505870633-jt74c6bv2t8ih4tr3a91coemgsoiukl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840505870633-jt74c6bv2t8ih4tr3a91coemgsoiukl0</string>
	<key>API_KEY</key>
	<string>AIzaSyD6ky6Ql-de0IVO2JE8B5CH5EmIxTKDVD0</string>
	<key>GCM_SENDER_ID</key>
	<string>840505870633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ddakkm.vaccinereview</string>
	<key>PROJECT_ID</key>
	<string>ddakkm-c29a0</string>
	<key>STORAGE_BUCKET</key>
	<string>ddakkm-c29a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840505870633:ios:deb4ff3a5aa8a98b0d4f38</string>
</dict>
</plist>